<div class="row">
  <div class="col-xs-12 col-lg-6 new-resource-form">
    <%= form_tag "/resources/#{@resource.id}", class: "form-horizontal", method: :patch do %>
    <div class="form-group">
      <%= label_tag :resource_type, "Resource Type:", class: "col-xs-3 control-label" %>
      <label class="checkbox-inline col-xs-2">
        <%= check_box_tag :food, true, @resource.food ? true : false %> Food
      </label>
      <label class="checkbox-inline col-xs-2">
        <%= check_box_tag :health, true, @resource.health ? true : false %> Health
      </label>
      <label class="checkbox-inline col-xs-2">
        <%= check_box_tag :shelter, true, @resource.shelter ? true : false %> Shelter
      </label>
    </div>
    <div class="form-group">   
      <%= label_tag :name, "Name:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= text_field_tag :name, @resource.name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :address, "Full Address:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= text_field_tag :address, @resource.address, class: "form-control", disabled: true %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :street, "Street:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= text_field_tag :street, @resource.street, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :city, "City:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= text_field_tag :city, @resource.city, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :zip_code, "Zip Code:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= phone_field_tag :zip_code, @resource.zip_code, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :phone, "Phone Number:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= phone_field_tag :phone, @resource.phone, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">   
      <%= label_tag :description, "Description:", class: "col-xs-3 control-label" %> 
      <div class="col-xs-9">
        <%= text_area_tag :description, @resource.description, rows: 5, class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6 pull-right">
      <%= submit_tag "Update", class: "btn btn-info" %>
      <%= link_to "Delete", "/resources/#{@resource.id}", method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6">
    <h2>About the Contributor</h2>
    <h4><%= @resource.user.full_name %></h4>
    <p><%= @resource.user.description %></p>
  </div>
</div>