<div class="row" id="map-row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-9">
            <input ng-model="searchString" class="form-control" placeholder="Search for Resources...">
          </div>
          <div class="col-xs-3">
            <button ng-click="findIt(searchString)" class="btn btn-success">find resources</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quick Share</h3>
      </div>
      <!-- <div class="panel-body">
        <p>Enter a phone number in the desired line and press share.</p>
      </div> -->
      <table style="width:100%" class="table">
        <col width="5%">
        <col width="33%">
        <col width="31%">
        <col width="31%">
        <tr>
          <th></th>
          <th>Closest Resource</th>
          <th>Full Address</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td style="text-align:right">F:</td>
          <td> 
            <%= link_to "/resources/#{@food_resource.id}" do %>
            <%= @food_resource.name %>
            <% end %>
          </td>
          <td><%= @food_resource.shorter_address %></td>
          <td><%= @food_resource.phone_with_dashes %></td>
        </tr> 
        <tr> 
          <td style="text-align:right">H:</td>
          <td>
            <%= link_to "/resources/#{@health_resource.id}" do %>
            <%= @health_resource.name %>
            <% end %>
          </td>
          <td><%= @health_resource.shorter_address %></td>
          <td><%= @health_resource.phone_with_dashes %></td>
        </tr> 
        <tr>
          <td style="text-align:right">S:</td>
          <td>
            <%= link_to "/resources/#{@health_resource.id}" do %>
            <%= @shelter_resource.name %>
            <% end %>
          </td>
          <td><%= @shelter_resource.shorter_address %></td>
          <td><%= @shelter_resource.phone_with_dashes %></td>
        </tr>    
      </table>
    </div>
  </div>
  <div class="col-md-5 well" id="map-container">
    <div id="map"></div>
    <p id="demo"></p>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function initMap(lat, lng) {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat, lng: lng},
      zoom: 13
    });
    var marker = new google.maps.Marker({
      position: {lat, lng},
      map: map,
      title: 'You'
    });
    <% @resources.each do |resource| %>
    <% if resource.food %>
    <% icon_type = 'foodicon.png' %>
    <% elsif resource.health %>
    <% icon_type = 'healthicon.png' %>
    <% elsif resource.shelter %>
    <% icon_type = 'sheltericon.png' %>
    <% end %>
    var marker = new google.maps.Marker({
      position: {<%= resource.lat_and_long %>},
      map: map,
      title: '<%= "#{resource.name}" %>',
      icon: '<%= image_url(icon_type) %>',
      url: '<%= "/resources/#{resource.id}" %>'
    });
    google.maps.event.addListener(marker, 'click', function() {
      window.location.href = this.url;
    });
    <% end %>
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOyI1tL-V4QeNZSMgXuWDaoX7usnruTJ8&callback=initMap"></script>
