<div class="row">
      <div class="col-md-7">
        <table style="width:100%" class="table">
          <tr>
            <th></th>
            <th>Closest Resource</th>
            <th>Full Address</th>
            <th>Phone Number</th>
          </tr>
          <tr>
            <td style="text-align:right">Food:</td>
            <td> 
              <%= link_to "/resources/#{@food_resource.id}" do %>
              <%= @food_resource.name %>
              <% end %>
            </td>
            <td><%= @food_resource.address %></td>
            <td><%= @food_resource.phone %></td>
          </tr> 
          <tr> 
            <td style="text-align:right">Health:</td>
            <td>
              <%= link_to "/resources/#{@health_resource.id}" do %>
              <%= @health_resource.name %>
              <% end %>
            </td>
            <td><%= @health_resource.address %></td>
            <td><%= @health_resource.phone %></td>
          </tr> 
          <tr>
            <td style="text-align:right">Shelter:</td>
            <td>
              <%= link_to "/resources/#{@health_resource.id}" do %>
              <%= @health_resource.name %>
              <% end %>
            </td>
            <td><%= @health_resource.address %></td>
            <td><%= @health_resource.phone %></td>
          </tr>    
        </table>
      </div>
    </div>