<h2>List All Resources</h2>
<%= link_to 'Add Resource', '/resources/new' %>
<table style="width:100%">
  <tr>
    <th>Resource Name</th>
    <th>Resource Type</th>
    <th>Address</th>
    <th>City</th>
    <th>Zip Code</th>
    <th>Phone Number</th>
  </tr>
  <% @resources.each do |resource| %>
  <tr>
    <td>
      <%= link_to "/resources/#{resource.id}" do %>
      <%= resource.name %>
      <% end %>
    </td>
    <td><%= resource.resource_type %></td>
    <td><%= resource.address %></td>
    <td><%= resource.city %></td>
    <td><%= resource.zip_code %></td>
    <td><%= resource.phone_number %></td>
  </tr>    
  <% end %>
</table>