<div class="row">
  <div class="col-md-12">
    <table style="width:100%" class="table">
      <tr>
        <th>Resource Name</th>
        <th>Score</th>
        <th>Full Address</th>
        <th>Phone Number</th>
        <th>Contributor</th>
      </tr>
      <% @resources.each do |resource| %>
      <tr>
        <td>
          <%= link_to "/resources/#{resource.id}" do %>
          <%= resource.name %>
          <% end %>
        </td>
        <td><%= resource.score %></td>
        <td><%= resource.address %></td>
        <td><%= resource.phone_with_dashes %></td>
        <td><%= resource.user.full_name %></td>
      </tr>    
      <% end %>
    </table>
  </div>
</div>