<div class="row">
  <div class="col-md-12">
    <table style="width:100%" class="table">
      <tr>
        <th>Resource Name</th>
        <th></th>
        <th>Services</th>
        <th>Full Address</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
      </tr>
      <% @resources.each do |resource| %>
      <tr>
        <td>
          <%= link_to "/resources/#{resource.id}" do %>
          <%= resource.name %>
          <% end %>
        </td>
        <td>
          <% if resource.status != "verified" %>
          <%= link_to "Verify", "/resources/#{resource.id}?action=verified", method: :patch %> | <%= link_to "Delete", "/resources/#{resource.id}", method: :delete %>
          <% else %>
          <%= link_to "Edit", "/resources/#{resource.id}/edit" %>
          <% end %>
        </td>
        <td><%= resource.display_resources %></td>
        <td><%= resource.address %></td>
        <td><%= resource.street %></td>
        <td><%= resource.city %></td>
        <td><%= resource.zip_code %></td>
        <td><%= resource.phone %></td>
      </tr>    
      <% end %>
    </table>
    <p><%= @location %></p>
    <p><%= @current_location[0].data["ip"] %></p>
  </div>
</div>