<div class="row">
  <div class="col-xs-4 new-resource-form">
    <%= form_tag '/resources', method: :post do %>
    <div class="form-group">
      <%= label_tag(:resource_type, "Resource Type:") %>
      <%= label_tag(:food, "Food:") %><span> </span><%= check_box_tag :food, true %>
      <%= label_tag(:health, "Health:") %><span> </span><%= check_box_tag :health, true %>
      <%= label_tag(:shelter, "Shelter:") %><span> </span><%= check_box_tag :shelter, true %>
    </div>
    <div class="form-group">   
      <%= label_tag(:name, "name:") %> 
      <%= text_field_tag(:name) %>
    </div>
    <div class="form-group">
      <%= label_tag(:address, "Address:") %> 
      <%= text_field_tag(:address) %>
    </div>
    <div class="form-group">
      <%= label_tag(:city, "City:") %> 
      <%= text_field_tag(:city) %>
    </div>
    <div class="form-group">
      <%= label_tag(:zip_code, "Zip Code:") %> 
      <%= text_field_tag(:zip_code) %>
    </div>
    <div class="form-group">
      <%= label_tag(:phone, "Phone:") %> 
      <%= text_field_tag(:phone) %>
    </div>
    <div class="form-group">
      <%= label_tag(:description, "Description:") %> 
      <%= text_field_tag(:description) %>
    </div>
    <div class="form-group">
    <%= submit_tag "Add", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
