<h2><%= @resource.name %></h2>
<p><%= @resource.phone_number %></p>
<p><%= @resource.address %></p>
<p><%= @resource.description %></p>











<%= form_tag "/resources/#{@resource.id}/share", method: :post do %>
<div class="form-group">
<%= label_tag "Send Resource to Phone Number: " %>
<%= telephone_field_tag :send_to_number, nil, class: "special-input" %>
</div>
<%= hidden_field_tag :name, @resource.name %>
<%= hidden_field_tag :address, @resource.address %>
<%= hidden_field_tag :phone, @resource.phone_number %>
<%= hidden_field_tag :description, @resource.description %>
<%= submit_tag "Send Resource Info" %>
<% end %>
