<div class="row show-row container">
  <div class="col-md-6">
    <h2><%= @resource.name %></h2>
    <p>Address: <%= @resource.address %></p>
    <p>Phone: <%= @resource.phone %></p>
    <p>Description: <%= @resource.description %></p>
    <%= link_to "Share Resource", "/resources/#{@resource.id}/share", class: "btn btn-success" %>
    <%= link_to "Edit Resource", "/resources/#{@resource.id}/edit", class: "btn btn-info"  %> 
    <div class="comments-section">
      <%= form_tag "/comments", class: "form-horizontal", method: :post do %>
        <div class="col-xs-12">
          <div class="form-group">
            <%= text_area_tag :comment_input_body, nil, placeholder: "Add a comment", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Post Comment" %>
          </div>
          <%= hidden_field_tag :comment_user_id, current_user.id %>
          <%= hidden_field_tag :comment_resource_id, @resource.id %>
        </div>
      <% end %>
      <% if @resource.comments.any? %>
      <h3>User Comments</h3>
      <% @resource.comments.each do |comment| %>
      <div class="comment">
        <h5><%= comment.user.first_name %> said on <%= comment.created_at %></h5>
        <p><%= comment.body %></p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <iframe width="100%" height="450" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/view?zoom=16&center=#{@resource.latitude}%2C#{@resource.longitude}&key=#{open('lib/assets/.google_api_key').read()}" %> allowfullscreen></iframe>
  </div>
</div>