<div class="row show-row container">
  <div class="col-md-6">
    <h2><%= @resource.name %></h2>
    <p>Address: <%= @resource.address %></p>
    <p>Phone: <%= @resource.phone %></p>
    <p>Description: <%= @resource.description %></p>
    <%= link_to "Share Resource", "/resources/#{@resource.id}/share", class: "btn btn-success" %>
    <%= link_to "Edit Resource", "/resources/#{@resource.id}/edit", class: "btn btn-info"  %> 
  </div>
  <div class="col-md-6 resource-show-photo">
    <iframe width="600" height="450" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/view?zoom=16&center=#{@resource.latitude}%2C#{@resource.longitude}&key=AIzaSyCaDyqEoZSL8i4UIsKx0W5ohD01dfJVbSg" %> allowfullscreen></iframe>

  </div>
</div>