<%= link_to "Share Resource", "/resources/#{@resource.id}/share" %>
<%= link_to "Edit Resource", "/resources/#{@resource.id}/edit"  %> 
<h2><%= @resource.name %></h2>
<p>Address: <%= @resource.address %></p>
<p>City: <%= @resource.city %></p>
<p>Zip Code: <%= @resource.zip_code %></p>
<p>Phone: <%= @resource.phone %></p>
<p>Description: <%= @resource.description %></p>
