<!DOCTYPE html>
<html>
<head>
  <title>ServiceWeb</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
        <% if current_user %>
          <%= link_to "Sign Out", "/users/sign_out",  method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to "Sign In", "/users/sign_in", class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>
      <%= link_to "/resources" do %>
      <h1>ServiceWeb</h1>
      <% end %>
      <h2><small>many resources. one mind.</small></h2>
    </div>
    <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong><%= message %></strong>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to "#{@food_resource.name}", "/resources/#{@food_resource.id}" %></h3>
            <p><%= @food_resource.description %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <div class="caption">
          <h3><%= @health_resource.name %></h3>
            <p><%= @health_resource.description %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <div class="caption">
           <h3><%= @shelter_resource.name %></h3>
           <p><%= @shelter_resource.description %></p>
         </div>
       </div>
     </div>
   </div>
   <%= yield %>

   <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to 'Add Resource', '/resources/new', class: "btn btn-warning" %>
      <h4>or select icon to search existing resources near you.</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <a href="/resources?type=food" class="thumbnail main-button">
            <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
            <div class="caption">
              <h3>Food</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <a href="/resources?type=health" class="thumbnail main-button">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <div class="caption">
              <h3>Health</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <a href="/resources?type=shelter" class="thumbnail main-button">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <div class="caption">
              <h3>Shelter</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="about">
      <h3>About ServiceWeb</h3>
      <p>ServiceWeb is inspired by actual social workers and an attemp to give everyday citezens access to resources tehy wouldn't otherwise know about. ServiceWeb is the collective memory of social work professionals and volunteers</p>
    </div>
  </div>
</div>
</body>
</html>